.akmenu {
	user-select: none;
	--step: 10px;
	--nstep: calc(var(--step) * -1);
	display: flex;
	flex-direction: row;
	margin: 0 var(--nstep);
	align-items: center;
}

.akmenu .item {
	margin: 0 var(--step);
}
.akmenu .group .title {
	white-space: nowrap;
	align-items: center;
	cursor: pointer;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr max-content;
}
.akmenu .childs {
	border: 1px white solid;
    border-radius: 5px;
    margin-left: -2px;
    margin-top: 1px;
	min-width: 145px;
	display: flex;
	flex-direction: column;
	background-color:black;	
	position:absolute;
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: opacity 0.2s, max-height 0.3s;
	padding-bottom: var(--step);
	padding-top: var(--step);
}
.akmenu .childs a {
	line-height: 170%;
	padding: 0 var(--step);
}

.akmenu .childs.show {
	opacity: 1;
	visibility: visible;
	max-height: 300px;
}
.akmenu .title {
	white-space: nowrap;
	padding: var(--step);
	text-transform: uppercase;
}
